<div
  class="lgmd:pt-[40px] lg:px-[110px] max-w-[1500px] mx-auto md:px-10 sm:pt-[50px] sm:px-6"
>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-14">
      <icon-button
        size="sm"
        iconSrc="/assets/images/icon-menu.svg"
        color="pink"
        (click)="panelService.openPanel(panels.PAUSED)"
      ></icon-button>
      <h1 class="heading-l text-white">{{ category }}</h1>
    </div>
    <health-bar [health]="termService.health" />
  </div>
  <div class="lg:mt-[88px] md:mt-[60px] sm:mt-[78px]">
    <playable-letters [term]="term"></playable-letters>
  </div>
  <div class="lg:mt-[100px] mdsm:mt-[80px] pb-[50px]">
    <keyboard-letters></keyboard-letters>
  </div>
</div>
<pause-panel></pause-panel>
<win-panel></win-panel>
<lose-panel></lose-panel>
<bg-overlay></bg-overlay>
