.heading-xl {
  font-size: 8.5rem; //136px
  letter-spacing: -0.68px;
}

.heading-l {
  font-size: 5.5rem; //88px
}

.heading-m {
  font-size: 3rem; //48px
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.heading-s {
  font-size: 2rem; //32px
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

body {
  font-size: 1.625rem; //26px
}

@screen md {
  .heading-xl {
    font-size: 6.5rem; //104px
  }

  body {
    font-size: 1.25rem; //20px
  }
}

@screen sm {
  .heading-l {
    font-size: 1.5rem; //24px
  }
  .heading-m {
    font-size: 1.5rem; //24px
  }
  body {
    font-size: 1rem; //16px
  }
}

.heading-xl,
.heading-l,
.heading-m,
.heading-s,
body {
  font-weight: 400;
  line-height: 1.2;
}
