<div class="w-full h-screen grid place-items-center">
  <div
    class="relative grid place-items-center lgmd:pt-[120px] lgmd:pb-[51px] lgmd:px-[150px] sm:pt-[50px] sm:pb-[64px] sm:px-[32px] sm:w-[90%] bg-gradient-to-b from-[#344ABA] to-[rgba(0,20,121,0.83)] shadow-[0px_-8px_0px_4px_#140E66_inset,0px_6px_0px_8px_#2463FF_inset] lgmd:rounded-[72px] sm:rounded-[48px]"
  >
    <img
      src="/assets/images/logo.svg"
      class="absolute top-[-70px] sm:w-[250px]"
    />
    <div class="flex flex-col gap-[60px] mt-[120px]">
      <a routerLink="/categories">
        <icon-button
          color="pink"
          size="lg"
          iconSrc="/assets/images/icon-play.svg"
        ></icon-button>
      </a>
      <a routerLink="rules">
        <text-button>How to play</text-button>
      </a>
    </div>
  </div>
</div>
