<div
  class="h-full lg:max-w-[400px] bg-white grid lg:place-items-center mdsm:grid-cols-[max-content,1fr] sm:items-center lg:gap-10 lg:text-center lgmd:rounded-[40px] lgmd:px-10 lg:py-[60px] md:py-8 md:gap-x-10 md:gap-y-4 sm:p-8 sm:rounded-[20px] sm:gap-4"
>
  <h2
    class="heading-l text-blue md:col-start-1 md:row-span-2 md:place-self-center"
  >
    {{ order }}
  </h2>
  <h3 class="heading-m text-dark-navy sm:col-start-2">{{ title }}</h3>
  <p class="text-[#887DC0] sm:col-start-1 sm:col-span-2">{{ description }}</p>
</div>
