<panel [name]="panels.WIN" title="You Win" [closedByOverlay]="false">
  <div class="flex flex-col items-center gap-8">
    <text-button (click)="panelService.closePanel(panels.WIN)"
      >Play Again</text-button
    >
    <text-button
      routerLink="/categories"
      (click)="panelService.closePanel(panels.WIN)"
      >New Category</text-button
    >
    <text-button
      color="pink"
      routerLink="/"
      (click)="panelService.closePanel(panels.WIN)"
      >Quit Game</text-button
    >
  </div>
</panel>
