<div
  class="relative lg:w-[112px] lg:h-[128px] md:w-[80px] md:h-[80px] sm:w-[40px] sm:h-[66px] select-none lg:rounded-[40px] md:rounded-[32px] sm:rounded-[12px] overflow-hidden cursor-pointer"
>
  <div
    class="absolute inset-0 bg-blue shadow-button-blue lg:rounded-[40px] md:rounded-[32px] sm:rounded-[12px] opacity-25"
  ></div>
  <div
    class="size-full bg-blue grid place-items-center shadow-button-blue lg:rounded-[40px] md:rounded-[32px] sm:rounded-[12px] transition-transform duration-300"
    [ngClass]="{
      'scale-0': disabled,
      'scale-100': !disabled
    }"
  >
    <h2 *ngIf="!disabled" class="heading-l text-white">{{ letter }}</h2>
  </div>
</div>
